<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>automatic</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/solid.min.js" integrity="sha512-wabaor0DW08KSK5TQlRIyYOpDrAfJxl5J0FRzH0dNNhGJbeUpHaNj7up3Kr2Bwz/abLvVcJvDrJL+RLFcyGIkg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/brands.min.js" integrity="sha512-oPuIMrT4JN6Cw359VQkuI0OPn1reFOKJm1YUOjXxgIzMmNMY7g4jenNcJdYcF3dt90WyNajzivr3vZFSzgqLow==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/fontawesome.min.js" integrity="sha512-PoFg70xtc+rAkD9xsjaZwIMkhkgbl1TkoaRrgucfsct7SVy9KvTj5LtECit+ZjQ3ts+7xWzgfHOGzdolfWEgrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer="" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/prism.min.js" integrity="sha512-YBk7HhgDZvBxmtOfUdvX0z8IH2d10Hp3aEygaMNhtF8fSOvBZ16D/1bXZTJV6ndk/L/DlXxYStP8jrF77v2MIg==" crossorigin="anonymous"></script>
    <script defer="" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/components/prism-javascript.min.js" integrity="sha512-I4ZWqUpk7wqHcm7Gkv7k4IdgrDUTlGm1a7xeqyduqZLWeoGOn2E9us4XNBEDGclpk+6d1CmqIHYwmoyyL59zeA==" crossorigin="anonymous"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popperjs -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.2/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <!-- Tempus Dominus JavaScript -->
    <script src="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/js/tempus-dominus.js" crossorigin="anonymous"></script>
    <!-- Tempus Dominus Styles -->
    <link href="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/css/tempus-dominus.css" rel="stylesheet" crossorigin="anonymous">

    <script>
        document.addEventListener('DOMContentLoaded', function (event) {
            let base_div = document.getElementById("base");

            let current_user_email_div = document.getElementById("current_user");
            fetch("/users/me", {})
                .then(function(response) {
                    if(response.status == 200) {
                        return response.json()
                        //
                    }
                })
                .then(function (data){
                    current_user_email_div.textContent = "user: " + data["email"] + "\n superuser:" + data["is_superuser"];
                });

            let logout_button = document.createElement("button");
            logout_button.classList.add("btn");
            logout_button.classList.add("m-3");
            logout_button.classList.add("col");
            logout_button.classList.add("btn-primary");
            logout_button.setAttribute("type", "button");
            logout_button.textContent = "Разлогиниться";
            logout_button.addEventListener("click", function (event) {
                event.preventDefault();
                console.log("logout_button pressed");
                fetch("/auth/jwt/logout", {
                    method: 'POST'
                })
                    .then(function(response) {
                        window.location.replace("/");
                    })
                    .catch(function() {
                        console.log('logout_button error');
                    });
            });
            base_div.appendChild(logout_button);

            //
            let automatic_div = document.getElementById("automatic");
            //  нужно собрать инфу по поилкам (контроллерам) и выставить их чекбоксы
            // ---------------------------------------------------------------------------------------------------------
            let drinker_div = document.getElementById("drinker");
            fetch("/api/drinker/", {
                method: 'GET',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            })
                .then(function(response) {
                    return response.json()
                })
                .then(function(data){
                    console.log('drinker', data);
                    data["controller_ids"].forEach(function (controller_id) {
                        let drinker_controller = document.createElement("div");
                        drinker_controller.classList.add("row");
                        drinker_controller.classList.add("border");
                        let drinker_label = document.createElement("div");
                        drinker_label.textContent = "Поилка " + controller_id;
                        drinker_controller.appendChild(drinker_label);

                        // autofill_status
                        let autofill_status_label = document.createElement("label");
                        autofill_status_label.classList.add("btn");
                        autofill_status_label.classList.add("col");
                        autofill_status_label.classList.add("btn-outline-primary");
                        autofill_status_label.setAttribute("for", "autofill_status" + controller_id);
                        autofill_status_label.textContent = "Автонаполнение Вкл/Выкл";
                        autofill_status_label.classList.add("m-3");

                        let autofill_status = document.createElement("input");
                        autofill_status.id = "autofill_status" + controller_id;
                        autofill_status.setAttribute("type", "checkbox");
                        autofill_status.addEventListener("click", function (event) {
                            console.log("autofill_status pressed");
                            fetch("/api/auto/" + controller_id + "/drinker", {
                                method: 'POST',
                                headers: {
                                    'Accept': 'application/json',
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({
                                    "autofill_status": autofill_status.checked
                                })
                            })
                                .then(function(response) {
                                    console.log("autofill_status input");
                                    update_drinker_status();
                                })
                                .catch(function() {
                                    console.log('autofill_status error');
                                });
                        });
                        autofill_status_label.appendChild(autofill_status);
                        drinker_controller.appendChild(autofill_status_label);

                        // logging_status
                        let logging_status_label = document.createElement("label");
                        logging_status_label.classList.add("btn");
                        logging_status_label.classList.add("col");
                        logging_status_label.classList.add("btn-outline-primary");
                        logging_status_label.setAttribute("for", "logging_status" + controller_id);
                        logging_status_label.textContent = "Логгирование Вкл/Выкл";
                        logging_status_label.classList.add("m-3");

                        let logging_status = document.createElement("input");
                        logging_status.id = "logging_status" + controller_id;
                        logging_status.setAttribute("type", "checkbox");
                        logging_status.addEventListener("click", function (event) {
                            console.log("logging_status pressed");
                            fetch("/api/auto/" + controller_id + "/drinker", {
                                method: 'POST',
                                headers: {
                                    'Accept': 'application/json',
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({
                                    "logging_status": logging_status.checked
                                })
                            })
                                .then(function(response) {
                                    console.log("logging_status input");
                                    update_drinker_status();
                                })
                                .catch(function() {
                                    console.log('logging_status error');
                                });
                        });
                        logging_status_label.appendChild(logging_status);
                        drinker_controller.appendChild(logging_status_label);

                        // threshold_level

                        let threshold_level_label = document.createElement("div");
                        threshold_level_label.textContent = "Порог срабатывания поилки " + controller_id;
                        drinker_controller.appendChild(threshold_level_label);

                        let threshold_level_number_label = document.createElement("div");
                        threshold_level_number_label.textContent = "Значение порога ";
                        drinker_controller.appendChild(threshold_level_number_label);

                        let threshold_level_range = document.createElement("input");
                        threshold_level_range.type = "range";
                        threshold_level_range.classList.add("form-range");
                        threshold_level_range.classList.add("row");
                        threshold_level_range.classList.add("py-md-5");
                        threshold_level_range.min = 0;
                        threshold_level_range.max = 1;
                        threshold_level_range.step = 1;
                        threshold_level_range.disabled = 1;

                        threshold_level_range.addEventListener("input", function (event) {
                            console.log("threshold_level_range input");
                            threshold_level_number_label.textContent = "Значение порога " + threshold_level_range.value;
                            fetch("/api/auto/" + controller_id + "/drinker", {
                                method: 'POST',
                                headers: {
                                    'Accept': 'application/json',
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({
                                    "threshold_level": threshold_level_range.value
                                })
                            })
                                .then(function(response) {
                                    console.log("threshold_level_range input");
                                })
                                .catch(function(error) {
                                    console.log('threshold_level_range error');
                                });
                        });
                        drinker_controller.appendChild(threshold_level_range);

                        drinker_div.appendChild(drinker_controller);

                        function update_drinker_status() {
                            fetch("/api/drinker/" + controller_id + "/water_level_params", {
                                 method: 'GET',
                                 headers: {
                                     'Accept': 'application/json',
                                     'Content-Type': 'application/json'
                                 }
                            })
                             .then(function(response) {
                                 return response.json()
                             })
                             .then(function(data) {
                                 console.log('got responce', data);
                                 threshold_level_range.min = data["water_level_max_level"];
                                 threshold_level_range.max = data["water_level_min_level"];
                                 threshold_level_range.disabled = 0;
                             })
                             .catch(function(error) {
                                 console.log('water_level_params error');
                             });

                            fetch("/api/auto/" + controller_id + "/drinker", {
                                method: 'GET',
                                headers: {
                                    'Accept': 'application/json',
                                    'Content-Type': 'application/json'
                                }
                            })
                                .then(function(response) {
                                    return response.json()
                                })
                                .then(function(data){
                                    // console.log('got responce', data);
                                    autofill_status.checked = data['autofill_status'];
                                    if (data['autofill_status'] == true) {
                                        autofill_status_label.classList.add("active");
                                    } else {
                                        autofill_status_label.classList.remove("active");
                                    }
                                    logging_status.checked = data['logging_status'];
                                    if (data['logging_status'] == true) {
                                        logging_status_label.classList.add("active");
                                    } else {
                                        logging_status_label.classList.remove("active");
                                    }
                                    threshold_level_range.value = data['threshold_level'];
                                    threshold_level_number_label.textContent = "Значение порога " + threshold_level_range.value;

                                })
                                .catch(function() {
                                    console.log('get status error');
                                });
                        }

                        var timeout = setTimeout(updateDrinkerStatus, 10);
                        function updateDrinkerStatus() {
                            try {
                                update_drinker_status();
                            } catch (e) {
                                console.log('unable update_drinker_status');
                            }
                            timeout = setTimeout(updateDrinkerStatus, 5000);
                        }

                    });
                })
                .catch(function() {
                    console.log('get status error');
                });
            // собрать инфу по кормушкам и выставить их чекбоксы
            // ---------------------------------------------------------------------------------------------------------
            let feeder_div = document.getElementById("feeder");
            fetch("/api/feeder/", {
                method: 'GET',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            })
                .then(function(response) {
                    return response.json()
                })
                .then(function(data) {
                    console.log('feeder', data);
                    data["controller_ids"].forEach(function (controller_id) {
                        let feeder_controller = document.createElement("div");
                        feeder_controller.classList.add("row");
                        feeder_controller.classList.add("border");
                        let feeder_label = document.createElement("div");
                        feeder_label.textContent = "Кормушка " + controller_id;
                        feeder_controller.appendChild(feeder_label);

                        // autofeed_status
                        let autofeed_status_label = document.createElement("label");
                        autofeed_status_label.classList.add("btn");
                        autofeed_status_label.classList.add("col");
                        autofeed_status_label.classList.add("btn-outline-primary");
                        autofeed_status_label.setAttribute("for", "autofeed_status" + controller_id);
                        autofeed_status_label.textContent = "Автокормёжки Вкл/Выкл";
                        autofeed_status_label.classList.add("m-3");

                        let autofeed_status = document.createElement("input");
                        autofeed_status.id = "autofeed_status" + controller_id;
                        autofeed_status.setAttribute("type", "checkbox");
                        autofeed_status.addEventListener("click", function (event) {
                            console.log("autofeed_status pressed");
                            fetch("/api/auto/" + controller_id + "/feeder", {
                                method: 'POST',
                                headers: {
                                    'Accept': 'application/json',
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({
                                    "autofeed_status": autofeed_status.checked
                                })
                            })
                                .then(function(response) {
                                    console.log("autofeed_status input");
                                    update_feeder_status();
                                })
                                .catch(function() {
                                    console.log('autofeed_status error');
                                });
                        });
                        autofeed_status_label.appendChild(autofeed_status);
                        feeder_controller.appendChild(autofeed_status_label);

                        // logging_status
                        let logging_status_label = document.createElement("label");
                        logging_status_label.classList.add("btn");
                        logging_status_label.classList.add("col");
                        logging_status_label.classList.add("btn-outline-primary");
                        logging_status_label.setAttribute("for", "feeder_logging_status" + controller_id);
                        logging_status_label.textContent = "Логгирование Вкл/Выкл";
                        logging_status_label.classList.add("m-3");

                        let logging_status = document.createElement("input");
                        logging_status.id = "feeder_logging_status" + controller_id;
                        logging_status.setAttribute("type", "checkbox");
                        logging_status.addEventListener("click", function (event) {
                            console.log("logging_status pressed");
                            fetch("/api/auto/" + controller_id + "/feeder", {
                                method: 'POST',
                                headers: {
                                    'Accept': 'application/json',
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({
                                    "logging_status": logging_status.checked
                                })
                            })
                                .then(function(response) {
                                    console.log("logging_status input");
                                    update_feeder_status();
                                })
                                .catch(function() {
                                    console.log('logging_status error');
                                });
                        });
                        logging_status_label.appendChild(logging_status);
                        feeder_controller.appendChild(logging_status_label);

                        // day_start_time
                        let day_start_time_wrapper_div = document.createElement("div");
                        day_start_time_wrapper_div.classList.add("row");

                        let day_start_time_label = document.createElement("div");
                        day_start_time_label.classList.add("col");
                        day_start_time_label.textContent = "Начало дня кормёжки";
                        day_start_time_wrapper_div.appendChild(day_start_time_label);

                        let day_start_time_div = document.createElement("div");
                        day_start_time_div.classList.add("col");
                        let day_start_time_picker = new tempusDominus.TempusDominus(day_start_time_div, {
                            display: {
                                components: {
                                    decades: false,
                                    year: false,
                                    month: false,
                                    date: false,
                                    hours: true,
                                    minutes: true,
                                    seconds: false
                                },
                                inline: true
                            }
                        });
                        day_start_time_wrapper_div.appendChild(day_start_time_div);
                        feeder_controller.appendChild(day_start_time_wrapper_div);

                        // day_end_time
                        let day_end_time_wrapper_div = document.createElement("div");
                        day_end_time_wrapper_div.classList.add("row");

                        let day_end_time_label = document.createElement("div");
                        day_end_time_label.textContent = "Конец дня кормёжки";
                        day_end_time_label.classList.add("col");
                        day_end_time_wrapper_div.appendChild(day_end_time_label);

                        let day_end_time_div = document.createElement("div");
                        day_end_time_div.classList.add("col");
                        let day_end_time_picker = new tempusDominus.TempusDominus(day_end_time_div, {
                            display: {
                                components: {
                                    decades: false,
                                    year: false,
                                    month: false,
                                    date: false,
                                    hours: true,
                                    minutes: true,
                                    seconds: false
                                },
                                inline: true
                            }
                        });
                        day_end_time_wrapper_div.appendChild(day_end_time_div);
                        feeder_controller.appendChild(day_end_time_wrapper_div);

                        // daily_feed_amount
                        let daily_feed_amount_label = document.createElement("div");
                        daily_feed_amount_label.classList.add("col");
                        daily_feed_amount_label.textContent = "Количество кормёжек в день";
                        feeder_controller.appendChild(daily_feed_amount_label);

                        let daily_feed_amount_input = document.createElement("input");
                        daily_feed_amount_input.classList.add("col");
                        daily_feed_amount_input.type = "number";
                        daily_feed_amount_input.min = 1;
                        daily_feed_amount_input.value = 1;
                        daily_feed_amount_input.max = 100;
                        feeder_controller.appendChild(daily_feed_amount_input);

                        // feed_amount
                        let feed_amount_label = document.createElement("div");
                        feed_amount_label.classList.add("col");
                        feed_amount_label.textContent = "Количество порций одной кормёжки";
                        feeder_controller.appendChild(feed_amount_label);

                        let feed_amount_input = document.createElement("input");
                        feed_amount_input.classList.add("col");
                        feed_amount_input.type = "number";
                        feed_amount_input.min = 1;
                        feed_amount_input.value = 1;
                        feed_amount_input.max = 100;
                        feeder_controller.appendChild(feed_amount_input);

                        // submit changes
                        let submit_button = document.createElement("button");
                        submit_button.classList.add("btn");
                        submit_button.classList.add("m-4");
                        submit_button.classList.add("btn-primary");
                        submit_button.setAttribute("type", "button");
                        submit_button.textContent = "Применить изменения";
                        submit_button.addEventListener("click", function (event) {
                            console.log("submit_button pressed");

                            let data = {
                                    "day_start_time": day_start_time_picker.dates.picked[0].getHours() + ":" + day_start_time_picker.dates.picked[0].getMinutes() + ":" + day_start_time_picker.dates.picked[0].getSeconds(),
                                    "day_end_time": day_end_time_picker.dates.picked[0].getHours() + ":" + day_end_time_picker.dates.picked[0].getMinutes() + ":" + day_end_time_picker.dates.picked[0].getSeconds(),
                                    "daily_feed_amount": parseInt(daily_feed_amount_input.value),
                                    "feed_amount": parseInt(feed_amount_input.value)
                                };
                            console.log(data);
                            fetch("/api/auto/" + controller_id + "/feeder", {
                                method: 'POST',
                                headers: {
                                    'Accept': 'application/json',
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(data)
                            })
                                .then(function(response) {
                                    console.log("submit_button resp");
                                    update_feeder_status();
                                })
                                .catch(function() {
                                    console.log('submit_button error');
                                });
                        });
                        feeder_controller.appendChild(submit_button);

                        // feed times
                        let feed_times_label = document.createElement("div");
                        feed_times_label.textContent = "Время кормёжек";
                        feeder_controller.appendChild(feed_times_label);



                        feeder_div.appendChild(feeder_controller);


                        function update_feeder_status() {
                            fetch("/api/auto/" + controller_id + "/feeder", {
                                method: 'GET',
                                headers: {
                                    'Accept': 'application/json',
                                    'Content-Type': 'application/json'
                                }
                            })
                                .then(function(response) {
                                    return response.json()
                                })
                                .then(function(data){
                                    // console.log('got responce', data);
                                    let autofeeder_data = data[0];
                                    let autofeeder_feedtimes = data[1];
                                    console.log(autofeeder_feedtimes);
                                    feed_times_label.textContent = "Время кормёжек " + autofeeder_feedtimes["feed_times"].toString();//JSON.stringify(autofeeder_feedtimes);

                                    autofeed_status.checked = autofeeder_data['autofeed_status'];
                                    if (autofeeder_data['autofeed_status'] == true) {
                                        autofeed_status_label.classList.add("active");
                                    } else {
                                        autofeed_status_label.classList.remove("active");
                                    }
                                    logging_status.checked = autofeeder_data['logging_status'];
                                    if (autofeeder_data['logging_status'] == true) {
                                        logging_status_label.classList.add("active");
                                    } else {
                                        logging_status_label.classList.remove("active");
                                    }
                                    daily_feed_amount_input.value = autofeeder_data['daily_feed_amount'];
                                    feed_amount_input.value = autofeeder_data['feed_amount'];

                                    day_start_time_val = autofeeder_data['day_start_time'].split(":")
                                    date = new Date();
                                    date.setHours(day_start_time_val[0], day_start_time_val[1], day_start_time_val[2]);
                                    day_start_time_picker.dates.setFromInput(date);

                                    day_end_time_val = autofeeder_data['day_end_time'].split(":")
                                    date = new Date();
                                    date.setHours(day_end_time_val[0], day_end_time_val[1], day_end_time_val[2]);
                                    day_end_time_picker.dates.setFromInput(date);

                                })
                                .catch(function() {
                                    console.log('get status error');
                                });
                        }
                        update_feeder_status();
                        // var timeout = setTimeout(update_feeder_status, 10);
                        // function updateFeederStatus() {
                        //     update_feeder_status();
                        //     timeout = setTimeout(updateFeederStatus, 2000);
                        // }

                    })
                        .catch(function(error) {
                            console.log('feeder error', error);
                        });

                })
                .catch(function(error) {
                    console.log('get /api/feeder error', error);
                });

        });
    </script>
</head>
<body>

  <div class="container" id="base">
    <div id="current_user"></div>
    <div id="automatic">
      <div class="row" id="drinker"></div>
      <div class="row" id="feeder"></div>
    </div>
    <div class="row">
        <a href="/">back</a>
    </div>
<!--    <div class="container">-->
<!--         <div class='log-event' id='datetimepicker3'> </div>-->
<!--    </div>-->
  </div>
</body>
</html>