<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>automatic</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/solid.min.js" integrity="sha512-wabaor0DW08KSK5TQlRIyYOpDrAfJxl5J0FRzH0dNNhGJbeUpHaNj7up3Kr2Bwz/abLvVcJvDrJL+RLFcyGIkg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/brands.min.js" integrity="sha512-oPuIMrT4JN6Cw359VQkuI0OPn1reFOKJm1YUOjXxgIzMmNMY7g4jenNcJdYcF3dt90WyNajzivr3vZFSzgqLow==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/fontawesome.min.js" integrity="sha512-PoFg70xtc+rAkD9xsjaZwIMkhkgbl1TkoaRrgucfsct7SVy9KvTj5LtECit+ZjQ3ts+7xWzgfHOGzdolfWEgrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer="" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/prism.min.js" integrity="sha512-YBk7HhgDZvBxmtOfUdvX0z8IH2d10Hp3aEygaMNhtF8fSOvBZ16D/1bXZTJV6ndk/L/DlXxYStP8jrF77v2MIg==" crossorigin="anonymous"></script>
    <script defer="" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/components/prism-javascript.min.js" integrity="sha512-I4ZWqUpk7wqHcm7Gkv7k4IdgrDUTlGm1a7xeqyduqZLWeoGOn2E9us4XNBEDGclpk+6d1CmqIHYwmoyyL59zeA==" crossorigin="anonymous"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popperjs -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.2/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <!-- Tempus Dominus JavaScript -->
    <script src="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/js/tempus-dominus.js" crossorigin="anonymous"></script>
    <!-- Tempus Dominus Styles -->
    <link href="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/css/tempus-dominus.css" rel="stylesheet" crossorigin="anonymous">

    <script>
        document.addEventListener('DOMContentLoaded', function (event) {
            let base_div = document.getElementById("base");

            let current_user_email_div = document.getElementById("current_user");
            fetch("/users/me", {})
                .then(function(response) {
                    if(response.status == 200) {
                        return response.json()
                        //
                    }
                })
                .then(function (data){
                    current_user_email_div.textContent = "user: " + data["email"] + "\n superuser:" + data["is_superuser"];
                });

            let logout_button = document.createElement("button");
            logout_button.classList.add("btn");
            logout_button.classList.add("m-3");
            logout_button.classList.add("col");
            logout_button.classList.add("btn-primary");
            logout_button.setAttribute("type", "button");
            logout_button.textContent = "Разлогиниться";
            logout_button.addEventListener("click", function (event) {
                event.preventDefault();
                console.log("logout_button pressed");
                fetch("/auth/jwt/logout", {
                    method: 'POST'
                })
                    .then(function(response) {
                        window.location.replace("/");
                    })
                    .catch(function() {
                        console.log('logout_button error');
                    });
            });
            base_div.appendChild(logout_button);

        let picker = new tempusDominus.TempusDominus(document.getElementById('datetimepicker3'), {
           display: {
             components: {
               decades: false,
               year: false,
               month: false,
               date: false,
               hours: true,
               minutes: true,
               seconds: false
             },
             inline: true
           }
         });
        // picker.addEventListener("click", function (event){
        //
        // });
        });
    </script>
</head>
<body>

  <div class="container" id="base">
    <div id="current_user"></div>
    <div id="automatic"></div>
    <div class="row">
        <a href="/">back</a>
    </div>
    <div class="container">
         <div
           class='log-event'
           id='datetimepicker3'
         >
         </div>
    </div>
  </div>
</body>
</html>