<html>
    <meta charset="UTF-8">
    <head>
        <title>Feeder</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {


                let feeder_div = document.getElementById("feeder");
                fetch("/api/feeder/", {
                        method: 'GET',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        }
                    })
                        .then(function(response) {
                            return response.json()
                        })
                        .then(function(data) {
                            console.log('feeder', data);
                            data["controller_ids"].forEach(function (controller_id) {
                                let feeder_controller = document.createElement("div");
                                let feeder_label = document.createElement("div");
                                feeder_label.textContent = "feeder " + controller_id;
                                feeder_controller.appendChild(feeder_label);

                                fetch("/api/feeder/" + controller_id + "/params", {
                                    method: 'GET',
                                    headers: {
                                        'Accept': 'application/json',
                                        'Content-Type': 'application/json'
                                    }
                                })
                                    .then(function(response) {
                                        return response.json()
                                    })
                                    .then(function(data){
                                        // feeder box
                                        let feeder_box_open_angle = document.createElement("div");
                                        feeder_box_open_angle.textContent = "box_open_angle: " + data["feeder_box_open_angle"];
                                        feeder_box_open_angle.classList.add("col");
                                        feeder_controller.appendChild(feeder_box_open_angle);

                                        let feeder_box_close_angle = document.createElement("div");
                                        feeder_box_close_angle.textContent = "box_clsoe_angle: " + data["feeder_box_close_angle"];
                                        feeder_box_close_angle.classList.add("col");
                                        feeder_controller.appendChild(feeder_box_close_angle);

                                        let feeder_box_angle = document.createElement("div");
                                        feeder_box_angle.textContent = "box_angle: " + data["feeder_box_angle"];
                                        feeder_box_angle.classList.add("col");
                                        feeder_controller.appendChild(feeder_box_angle);



                                        let feeder_box_angle_range_label = document.createElement("div");
                                        feeder_box_angle_range_label.textContent =  data["feeder_box_angle"];
                                        feeder_box_angle_range_label.classList.add("col");
                                        feeder_controller.appendChild(feeder_box_angle_range_label);

                                        let feeder_box_angle_range = document.createElement("input");
                                        feeder_box_angle_range.type = "range";
                                        feeder_box_angle_range.classList.add("form-range");
                                        feeder_box_angle_range.min = data["feeder_box_open_angle"];
                                        feeder_box_angle_range.max = data["feeder_box_close_angle"];
                                        feeder_box_angle_range.value = data["feeder_box_angle"];
                                        feeder_box_angle_range.addEventListener("input", function (event) {
                                            feeder_box_angle_range_label.textContent = feeder_box_angle_range.value;
                                            console.log("feeder_box_angle_range input");
                                            fetch("/api/feeder/" + controller_id + "/box_set_angle?angle=" + feeder_box_angle_range.value, {
                                                method: 'POST',
                                                headers: {
                                                    'Accept': 'application/json',
                                                    'Content-Type': 'application/json'
                                                }
                                            })
                                                .then(function(response) {
                                                    console.log("feeder_box_angle_range input");
                                                })
                                                .catch(function() {
                                                    console.log('feeder_box_angle_range error');
                                                });
                                        });
                                        feeder_controller.appendChild(feeder_box_angle_range);

                                        // feeder gate
                                        let feeder_gate_open_angle = document.createElement("div");
                                        feeder_gate_open_angle.textContent = "gate_open_angle: " + data["feeder_gate_open_angle"];
                                        feeder_gate_open_angle.classList.add("col");
                                        feeder_controller.appendChild(feeder_gate_open_angle);

                                        let feeder_gate_close_angle = document.createElement("div");
                                        feeder_gate_close_angle.textContent = "gate_clsoe_angle: " + data["feeder_gate_close_angle"];
                                        feeder_gate_close_angle.classList.add("col");
                                        feeder_controller.appendChild(feeder_gate_close_angle);

                                        let feeder_gate_angle = document.createElement("div");
                                        feeder_gate_angle.textContent = "gate_angle: " + data["feeder_gate_angle"];
                                        feeder_gate_angle.classList.add("col");
                                        feeder_controller.appendChild(feeder_gate_angle);



                                        let feeder_gate_angle_range_label = document.createElement("div");
                                        feeder_gate_angle_range_label.textContent =  data["feeder_gate_angle"];
                                        feeder_gate_angle_range_label.classList.add("col");
                                        feeder_controller.appendChild(feeder_gate_angle_range_label);

                                        let feeder_gate_angle_range = document.createElement("input");
                                        feeder_gate_angle_range.type = "range";
                                        feeder_gate_angle_range.classList.add("form-range");
                                        feeder_gate_angle_range.min = data["feeder_gate_close_angle"];
                                        feeder_gate_angle_range.max = data["feeder_gate_open_angle"];
                                        feeder_gate_angle_range.value = data["feeder_gate_angle"];
                                        feeder_gate_angle_range.addEventListener("input", function (event) {
                                            feeder_gate_angle_range_label.textContent = feeder_gate_angle_range.value;
                                            console.log("feeder_gate_angle_range input");
                                            fetch("/api/feeder/" + controller_id + "/gate_set_angle?angle=" + feeder_gate_angle_range.value, {
                                                method: 'POST',
                                                headers: {
                                                    'Accept': 'application/json',
                                                    'Content-Type': 'application/json'
                                                }
                                            })
                                                .then(function(response) {
                                                    console.log("feeder_gate_angle_range input");
                                                })
                                                .catch(function() {
                                                    console.log('feeder_gate_angle_range error');
                                                });
                                        });
                                        feeder_controller.appendChild(feeder_gate_angle_range);


                                        let box_open_button = document.createElement("button");
                                        box_open_button.classList.add("btn");
                                        box_open_button.classList.add("btn-primary");
                                        box_open_button.setAttribute("type", "button");
                                        box_open_button.textContent = "box_open";
                                        box_open_button.addEventListener("click", function (event) {
                                            console.log("box_open_button pressed");
                                            fetch("/api/feeder/" + controller_id + "/box_open", {
                                                method: 'POST',
                                                headers: {
                                                    'Accept': 'application/json',
                                                    'Content-Type': 'application/json'
                                                }
                                            })
                                                .then(function(response) {
                                                    console.log("box_open_button resp");
                                                })
                                                .catch(function() {
                                                    console.log('box_open_button error');
                                                });
                                        });
                                        feeder_controller.appendChild(box_open_button);

                                        let box_close_button = document.createElement("button");
                                        box_close_button.classList.add("btn");
                                        box_close_button.classList.add("btn-primary");
                                        box_close_button.setAttribute("type", "button");
                                        box_close_button.textContent = "box_close";
                                        box_close_button.addEventListener("click", function (event) {
                                            console.log("box_close_button pressed");
                                            fetch("/api/feeder/" + controller_id + "/box_close", {
                                                method: 'POST',
                                                headers: {
                                                    'Accept': 'application/json',
                                                    'Content-Type': 'application/json'
                                                }
                                            })
                                                .then(function(response) {
                                                    console.log("box_close_button resp");
                                                })
                                                .catch(function() {
                                                    console.log('box_close_button error');
                                                });
                                        });
                                        feeder_controller.appendChild(box_close_button);

                                        let gate_open_button = document.createElement("button");
                                        gate_open_button.classList.add("btn");
                                        gate_open_button.classList.add("btn-primary");
                                        gate_open_button.setAttribute("type", "button");
                                        gate_open_button.textContent = "gate_open";
                                        gate_open_button.addEventListener("click", function (event) {
                                            console.log("gate_open_button pressed");
                                            fetch("/api/feeder/" + controller_id + "/gate_open", {
                                                method: 'POST',
                                                headers: {
                                                    'Accept': 'application/json',
                                                    'Content-Type': 'application/json'
                                                }
                                            })
                                                .then(function(response) {
                                                    console.log("gate_open_button resp");
                                                })
                                                .catch(function() {
                                                    console.log('gate_open_button error');
                                                });
                                        });
                                        feeder_controller.appendChild(gate_open_button);

                                        let gate_close_button = document.createElement("button");
                                        gate_close_button.classList.add("btn");
                                        gate_close_button.classList.add("btn-primary");
                                        gate_close_button.setAttribute("type", "button");
                                        gate_close_button.textContent = "gate_close";
                                        gate_close_button.addEventListener("click", function (event) {
                                            console.log("gate_close_button pressed");
                                            fetch("/api/feeder/" + controller_id + "/gate_close", {
                                                method: 'POST',
                                                headers: {
                                                    'Accept': 'application/json',
                                                    'Content-Type': 'application/json'
                                                }
                                            })
                                                .then(function(response) {
                                                    console.log("gate_close_button resp");
                                                })
                                                .catch(function() {
                                                    console.log('gate_close_button error');
                                                });
                                        });
                                        feeder_controller.appendChild(gate_close_button);

                                        let feed_button = document.createElement("button");
                                        feed_button.classList.add("btn");
                                        feed_button.classList.add("btn-primary");
                                        feed_button.setAttribute("type", "button");
                                        feed_button.textContent = "feed";
                                        feed_button.addEventListener("click", function (event) {
                                            console.log("feed_button pressed");
                                            fetch("/api/feeder/" + controller_id + "/gate_feed", {
                                                method: 'POST',
                                                headers: {
                                                    'Accept': 'application/json',
                                                    'Content-Type': 'application/json'
                                                }
                                            })
                                                .then(function(response) {
                                                    console.log("feed_button resp");
                                                })
                                                .catch(function() {
                                                    console.log('feed_button error');
                                                });
                                        });
                                        feeder_controller.appendChild(feed_button);

                                        let feed_ms_text = document.createElement("input");
                                        feed_ms_text.type = "text";
                                        feed_ms_text.classList.add("form-control");
                                        feed_ms_text.value  = "150";
                                        feeder_controller.appendChild(feed_ms_text);


                                        let feed_ms_button = document.createElement("button");
                                        feed_ms_button.classList.add("btn");
                                        feed_ms_button.classList.add("btn-primary");
                                        feed_ms_button.setAttribute("type", "button");
                                        feed_ms_button.textContent = "feed_ms";
                                        feed_ms_button.addEventListener("click", function (event) {
                                            console.log("feed_ms_button pressed");
                                            fetch("/api/feeder/" + controller_id + "/gate_feed_ms?delay_ms=" + feed_ms_text.value , {
                                                method: 'POST',
                                                headers: {
                                                    'Accept': 'application/json',
                                                    'Content-Type': 'application/json'
                                                }
                                            })
                                                .then(function(response) {
                                                    console.log("feed_ms_button resp");
                                                })
                                                .catch(function() {
                                                    console.log('feed_ms_button error');
                                                });
                                        });
                                        feeder_controller.appendChild(feed_ms_button);



                                        let  feeder_params_timeout = setTimeout(update_params, 10);
                                        function update_params(){
                                            fetch("/api/feeder/" + controller_id + "/params", {
                                                method: 'GET',
                                                headers: {
                                                    'Accept': 'application/json',
                                                    'Content-Type': 'application/json'
                                                }
                                            })
                                                .then(function(response) {
                                                    return response.json()
                                                })
                                                .then(function(data){
                                                    console.log(data);
                                                    feeder_box_open_angle.textContent = "box_open_angle: " + data["feeder_box_open_angle"];
                                                    feeder_box_close_angle.textContent = "box_clsoe_angle: " + data["feeder_box_close_angle"];
                                                    feeder_box_angle.textContent = "box_angle: " + data["feeder_box_angle"];
                                                    feeder_box_angle_range_label.textContent =  data["feeder_box_angle"];
                                                    feeder_box_angle_range.value = data["feeder_box_angle"];


                                                    feeder_gate_open_angle.textContent = "gate_open_angle: " + data["feeder_gate_open_angle"];
                                                    feeder_gate_close_angle.textContent = "gate_clsoe_angle: " + data["feeder_gate_close_angle"];
                                                    feeder_gate_angle.textContent = "gate_angle: " + data["feeder_gate_angle"];
                                                    feeder_gate_angle_range_label.textContent =  data["feeder_gate_angle"];
                                                    feeder_gate_angle_range.value = data["feeder_gate_angle"];
                                                })
                                                .catch(function() {
                                                    console.log('get status error');
                                                });

                                            let  feeder_params_timeout = setTimeout(update_params, 500);
                                        }

                                    })
                                    .catch(function() {
                                        console.log('get status error');
                                    });


                                feeder_div.appendChild(feeder_controller);
                            });
                        })
                        .catch(function() {
                            console.log('get status error');
                        });

            });

      </script>

    </head>
    <body>
    <div class="container">
        <div class="row" id="feeder">

        </div>
        <div class="row">
            <a href="/">back</a>
        </div>
    </div>
    </body>
</html>
