<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>video</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function (event) {
            let base_div = document.getElementById("base");

            let current_user_email_div = document.getElementById("current_user");
            fetch("/users/me", {})
                .then(function(response) {
                    if(response.status == 200) {
                        return response.json()
                        //
                    }
                })
                .then(function (data){
                    current_user_email_div.textContent = "user: " + data["email"] + "\n superuser:" + data["is_superuser"];
                });

            let logout_button = document.createElement("button");
            logout_button.classList.add("btn");
            logout_button.classList.add("m-3");
            logout_button.classList.add("col");
            logout_button.classList.add("btn-primary");
            logout_button.setAttribute("type", "button");
            logout_button.textContent = "Разлогиниться";
            logout_button.addEventListener("click", function (event) {
                event.preventDefault();
                console.log("logout_button pressed");
                fetch("/auth/jwt/logout", {
                    method: 'POST'
                })
                    .then(function(response) {
                        window.location.replace("/");
                    })
                    .catch(function() {
                        console.log('logout_button error');
                    });
            });
            base_div.appendChild(logout_button);


            let video_div = document.getElementById("video");
            video_div.classList.add("col");
            let img_div = document.createElement("img");
            img_div.classList.add("row");
            img_div.setAttribute("width", 640);
            video_div.appendChild(img_div);

            fetch("/api/video", {
                method: 'GET',
                headers: {'Content-Type': 'application/json'}
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    data["devices"].forEach(function (device_id) {
                        let device_button  = document.createElement("button");
                        device_button.classList.add("row");
                        device_button.classList.add("btn");
                        device_button.classList.add("btn-primary");
                        device_button.type = "button";
                        device_button.textContent = "device_" + device_id;
                        device_button.addEventListener("click", function (event) {
                            img_div.src = "/api/video/" + device_id;
                        });
                        video_div.appendChild(device_button);
                    });
                })
                .catch(error => {
                    console.log('Error:', error);
                });
        });
    </script>
</head>
<body>

<div class="container" id="base">
    <div id="current_user"></div>
    <a>video devices</a>
    <div class="row" id="video">

    </div>
    <div class="row">
        <a href="/">back</a>
    </div>
</div>

</body>
</html>